* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer {
  height: 8vh;
  background-color: #00224d;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header {
  min-height: 5vh;
  background-color: #00224d;
  text-align: center;
  position: sticky;
  top: 0px;
  animation: header_bajada linear both;
  animation-timeline: scroll(root);
  animation-range: 0 250px;
  z-index: 3;
}

@keyframes header_bajada {
  to {
    background-color: #5d0e4138;
    backdrop-filter: blur(5px);
  }
}
.enlaces {
  font-size: 26px;
  color: white;
  margin: 20px;
}
.ttitulos {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.boton_detalles {
  align-self: center;
  width: 40%;
  font-size: 24px;
  color: #ffffff;
  padding: 10px;
  box-shadow: 0 25px 30px rgb(0, 0, 0);
  border-radius: 8px;
  background-color: #ff3030;
  transition-duration: 550ms;
  transform: scale(0.97);
  text-align: center;
  &:hover {
    transform: scale(0.95);
    box-shadow: 0 15px 15px rgb(0, 0, 0);
  }
}
body {
  background-color: #d1e9f6;
}
.main {
  flex-grow: 1;
}
.tarjetas {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 500px;
  width: 350px;
  padding-bottom: 20px;
  background-color: #00224d;
  padding: 10px;
  border-radius: 8px;
  animation: tarjetas both;
  animation-timeline: view();
  animation-range: entry 30% cover 35%;
  box-shadow: 0 25px 30px rgb(0, 0, 0);
  transition-duration: 550ms;
  &:hover {
    transform: scale(0.97);
    box-shadow: 0 15px 15px rgb(0, 0, 0);
  }
  &:hover .dep {
    padding-left: 80px;
    font-size: 17px;
  }
  &:hover .nombre_dep {
    font-size: 45px;
  }
}

@keyframes tarjetas {
  from {
    opacity: 0;
    scale: 0.3;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.padre {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 10px 0px;
  justify-content: center;
}

.descripcion {
  text-align: center;
  padding: 15px 20px;
  height: auto;
  background-color: #282aa1;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
}
.text_description {
  font-size: 18px;
  color: white;
}
h1 {
  padding-top: 10px;
  background: linear-gradient(#00224d, #282aa1);
  text-align: center;
  padding-bottom: 15px;
}
h1 span:nth-child(1) {
  color: yellow;
}

h1 span:nth-child(2) {
  color: rgb(42, 42, 252);
}
h1 span:nth-child(3) {
  color: red;
}
footer p {
  text-align: center;
  padding: 20px;
  color: white;
}

.img_tarjeta {
  position: absolute;
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 8px;
}
.dep {
  font-size: 20px;
  color: #000000;
  z-index: 2;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.274);
  transition-duration: 400ms;
}
.nombre_dep {
  font-size: 30px;
  color: #000000;
  z-index: 2;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.274);
  transition-duration: 400ms;
}
.filtros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10vh;
}
.busqueda {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 50px;
  width: 270px;
  align-self: self-end;
  padding: 20px;
}
.busqueda input {
  width: 50px;
  height: 50px;
  border: 3px solid #00224d;
  border-radius: 30px;
  padding-left: 10px;
  z-index: 2;
  opacity: 0;

  transition-duration: 800ms;
  transition-delay: 5s;
  &:hover {
    box-shadow: 0px 0px 15px #282aa1;
    width: 340px;
    opacity: 1;
    z-index: 0;
    transition-delay: 0ms;
  }
}
.busqueda img {
  height: 50px;
  position: absolute;
}
.imgttarjeta {
  width: 45%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.tarjetaBig {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 600px;
  gap: 20px;
  border-radius: 3px;
  background: linear-gradient(#ffffff, #3f87a6);
  box-shadow: 0px 0px 15px black;
  animation: aparicion 100ms linear both;
}
@keyframes aparicion {
  from {
    scale: 2.2;
    opacity: 0.3;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
.textos {
  font-size: 25px;
  color: #1b1b1b;
  padding: 15px;
}
.especs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 70px;
}

.textos span {
  color: #000000;
  font-weight: 600;
}

.regionesSelect {
  padding: 5px;
  border-radius: 15px;
  font-size: 18px;
  width: 250px;
  height: 40px;
  align-self: center;
  margin: 30px;
}

@media (max-width: 970px) {
  .tarjetaBig {
    flex-direction: column;
    width: 80%;
    height: 800px;
  }
  .imgttarjeta {
    width: 100%;
    height: 40%;
  }
  .especs {
    gap: 20px;
    padding-top: 40px;
  }
  .textos {
    font-size: 18px;
  }
}
.noVisible {
  display: none;
}
.areass {
  padding: 5px;
  border-radius: 15px;
  font-size: 18px;
  width: 250px;
  height: 40px;
  align-self: center;
  margin: 30px;
}
table {
  width: 80%;
  border-collapse: collapse;
  background-color: rgb(173, 196, 196);
}
tr img {
  max-width: 100%;
  padding: 10px;
}
table,
th,
td {
  border: 2px solid black;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
}
.bgblue {
  background-color: rgb(50, 126, 240);
}
.bggreen {
  background-color: rgb(27, 199, 27);
}
th {
  width: 13%;
}
